.card-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  max-width: 1160px;

  &-column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
    min-width: 0;

    > div { /* change div to reference your elements you put in <Masonry> */
      margin-bottom: 30px;
    }
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 300px);
  color: white;

  span {
    line-height: 1.6;
  }

  .add {
    margin-top: $spacer-4;

    &:hover {
      background-color: rgba(83, 83, 83, 0.25);
      border-radius: $spacer-4;
    }
  }
}

@media (min-width: 500px) {
  .card-masonry-grid {
    padding: 0 15px;
  }
}

@media (min-width: 720px) {
  .card-masonry-grid {
    padding: 0 30px;
  }
}